<div class="flex justify-between items-center">
  <h1 class="text-3xl font-bold text-slate-900">Schemas</h1>
  <button class="button button--primary">Create</button>
</div>
<div class="grow shrink-0 basis-auto">
  @if (schemas()) {
    @if (schemas()?.items?.length) {
    } @else {
      <p>No schemas found</p>
    }
  } @else {
    <p>Loading...</p>
  }
</div>
<div class="flex justify-end">
  <stamp-paginator
    [pageSize]="schemas()?.pageSize"
    [page]="schemas()?.page"
    [count]="schemas()?.count"
  ></stamp-paginator>
</div>
